
.menu li {
    display: inline-block;
    color: lightgray;
    background: slategray;
    width: 100px;
    border: 1px solid blue;
    margin: 10px;
    padding: 5px;
}

li:hover{
    background: white;
    color: darkgray;
    text-decoration: underline;
    cursor: pointer;
}